.stylebar {
    padding: 10px;

}

.stat {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 11px;
}

.docSection {
    background-color: #f4f4f4;
    padding: 0px;
    
}

.docHeader {
    background-color: #fff;
    height: auto;
    padding: 0px;
    border-bottom: 1px solid rgb(221, 221, 221);
    
}

#measure {
    height: 20px;
    border-bottom: 1px solid rgb(221, 221, 221);
    margin-bottom: 15px;
    display: grid;
    width: 100%;
    
}

.docArea {
    background-color: #fff;
    width: 80%;
    height: 792px;
    margin: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /* height: 90vh; */
    padding: 60px;
    margin-bottom: 60px;
    margin-top: 30px;
}

.docTitle {
    /* height:70%;
   
    display: grid;
    grid-template-columns: 7% 1fr;
    grid-template-rows: repeat(2,1fr); */
    border-bottom: 1px solid rgb(221, 221, 221);
}

.docTitle a {
    grid-row: span 2;
    grid-template-columns: span 1;
}

.docTitle img {
 
    width: 50px;
    height: 50px;
    margin: 20px;
}

.docTitle input {
    background-color: transparent;
    border: none;
    width: 25%;
}

.docOpt {
    height:30%;
}

#options  {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 50%;
     width: 50%;
    list-style-type: none;
    margin-left: -20px;
    justify-content: left;
    margin-top: -20px;
 
    grid-row:span 1;
}

#options button  {
    background-color: #fff;
    padding: 0px;
    border:none;
    margin: 0px;
}

#options button:hover {
    cursor: pointer;
}

.docTitle input {
    grid-row:span 1;
}


@media only screen  and (max-width: 500px){
    #docHeader {
        padding: 2px;
        margin-bottom: 25px;
        
    }
    .docTitle {
        
        grid-template-columns: 15% 1fr;

    }
    .docTitle a {
        margin-right: 20px;
        grid-column: span 1;
    }

    .docTitle img {
 
        width: 40px;
        height: 40px;
        
    }
   #docHeader input {
       align-self: right;
       margin-left: 30px;
       grid-column: span 1;
       margin-bottom: 5px;
   }
   #docTitle {
    margin-bottom: 25px;
    border-bottom: none;
   }
    #styleOpt{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 5px;
    }

    #styleOpt select {
        width: 100%;
    }

    #options {
        grid-gap:15px;
        justify-content: right;
        margin-bottom: 10px;
        width: 100%;
        justify-self: center;
    }

    #options li {
        
        display: block;
        
        
    }

    header {
        margin-bottom: 10px;
    }
    

    
}
